[color]
	ui = true
[user]
	name = hoarf
	email = alan.ficagna@gmail.com
[alias]
	co = checkout
	ci = commit
	b = branch
	s = status
	g = grep --break --heading --line-number
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	d = difftool
[core]
	editor = vim
[merge]
	tool = meld
[grep]
	lineNumber = true 
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
